name: Tests

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  phpunit:
    name: PHPUnit on ${{ matrix.php }} and symfony ${{ matrix.symfony }} (${{ matrix.deps_strategy }} dependencies)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        deps_strategy: [ '', '--prefer-lowest' ]
        php: [ '8.1', '8.2', '8.3', '8.4', '8.5' ]
    steps:
      - name: Update code
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: xdebug
          tools: composer:v2

      - name: Install dependencies
        run: composer update ${{ matrix.deps_strategy }}

      - name: Tests
        run: vendor/bin/phpunit --colors=always
